fastapi
uvicorn[standard]
python-dotenv
langchain
langgraph
langchain-openai
langsmith
openai
azure-ai-documentintelligence
azure-ai-agents
azure-ai-inference
azure-ai-projects
azure-search-documents
azure-storage-blob
azure-core
azure-identity
torch
numpy
pandas
scikit-learn
scipy
tiktoken
faiss-cpu
gradio
matplotlib
plotly
seaborn
requests
pydantic
orjson
python-multipart
ipykernel
jupyterlab
ruff
langchain_azure_ai
langchain_community